html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-image:url('img/fondo 1.JPEG.jpg');
}

.carousel-item img {
    max-height: 500px;
    object-fit: cover;
    max-height: 500px;
}
/*footer*/
footer {
    background-color: #000; /* Fondo negro */
    color: #fff; /* Texto blanco */
    padding: 20px;
    text-align: center;
}

    footer a {
        color:#000000; /* Color de los enlaces */
        text-decoration: none;
        margin: 0 10px;
    }

        footer a:hover {
            text-decoration: underline; /* Subrayado al pasar el ratón */

        }




