<!-- _AdminSidebar.cshtml -->
<div class="sidebar-heading">
    <img src="~/css/img/gosfps.jpg" alt="Logo" />
    Panel de Administración
</div>
<ul class="list-group list-group-flush">
    <li class="btn-custom">
        <a class="link-no-style" asp-controller="Home" asp-action="Index"> INICIO </a>
    </li>
    <li class="btn-custom">
        <a class="link-no-style" asp-area=" " asp-controller="Rols" asp-action="Index"> Roles </a>
    </li>
    <li class="btn-custom" >
        <a  class="link-no-style" asp-controller="Usuarios" asp-action="Index" > Usuarios </a>
    </li>
</ul>
