@model ProyectoHsj_alpha.ViewsModels.LoginVM;
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>




         </title>
    </head>
    <body>
    <div class="container">
        <section class="d-flex align-items-center justify-content-center min-vh-100"
                 style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp'); background-size: cover;">
            <div class="row d-flex justify-content-center align-items-center w-100">
                <div class="col-12 col-md-10 col-lg-8 col-xl-6">
                    <!-- Ajuste de columnas para mayor ancho -->
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5"> Iniciar Sesión </h2>

                            <form asp-controller="Acces" asp-action="Login" method="post">

                                <div class="form-outline mb-4">
                                    <input type="email" class="form-control form-control-user"
                                           placeholder="Correo electronico" required asp-for="CorreoUsuario" />
                                    <label class="form-label" for="form3Example1cg">Email</label>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="password" class="form-control form-control-user"
                                           placeholder="Contraseña" required asp-for="ContraseniaUsuario" />
                                    <label class="form-label" for="form3Example1cg">password</label>
                                </div>

                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
                                        Log In
                                    </button>
                                </div>
                                @if (ViewData["Message"] != null)
                                {
                                    <div class="alert alert-danger" role="alert">
                                        @ViewData["Message"]

                                    </div>
                                }

                                <p class="text-center text-muted mt-5 mb-0">
                                    Don't have an account? <a class="fw-bold text-body" asp-controller="Acces" asp-action="Signup"  ><u> Register here </u></a>
                                </p>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</body>




</html>